/* Muze Variables */
$root-path:                                                 "../";
$font-family-base:                                          "Open Sans", sans-serif !default;
$montserrat-font:                                           "Montserrat", sans-serif;
/* Muze Color Variables */
$dark-text: #1A1919;
$light: #f8fcfc;
$light-100: #f3f3f3;
$light-gray: #e4eaec;
$black-800: #121111;
$black-700: #111111;
$black-600: #1e1e1e;
$black-400: #464646;
$lighter-light: #F0F0F0;
$red-light: #FF3B23;
$black-500: #484E53;
$orange-light: #FFE4CD;
$purple-light: #E4D3FF;
$green-light: #ACFFD3;
$cyan-light: #79D4DB;
$gray-50: #E9ECEF;
$gray-150: #ADB5BD;
$blue-50: #E6F0FF;
$indigo-50: #e8ddfd;
$purple-50: #e8ddff;
$pink-50: #ffddee;
$red-50: #ffe1e3;
$yellow-50: #faf0cd;
$teal-50: #dcfff5;
$orange-50: #ffead7;
$green-50: #ddf4e2;
$cyan-50: #dafbff;
$orange-150: #FFEAD8;
$green-80: #D3FFE7;
$purple-80: #EFE5FF;
$orange-80: #FFEDDE;
$indigo-light: #975CF6;
$dnd: #E25563;
$away: #FD933A;
/* Muze Font Weight Variables */
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-normal: normal;
/* Muze Transition Variables */
$transition4: all ease .4s;