<script lang="ts">
  import { onMount, onDestroy } from "svelte";
  import { isTourShown, setTourShown } from "./tourUtils";
  let isMobile = false;

  function updateIsMobile() {
    isMobile = window.innerWidth <= 768;
  }

  onMount(() => {
    if (typeof window !== "undefined") {
      updateIsMobile();
      window.addEventListener("resize", updateIsMobile);
    }
  });

  onDestroy(() => {
    if (typeof window !== "undefined") {
      window.removeEventListener("resize", updateIsMobile);
    }
  });

  let campaignsModal: any;

  let driver: any, modal: any;

  if (typeof window !== "undefined") {
    // Create the overlay
    const overlay = document.createElement("div");
    overlay.style.position = "absolute";
    overlay.style.top = "0";
    overlay.style.left = "0";
    overlay.style.width = "100%";
    overlay.style.height = "100%";

    overlay.style.zIndex = "9999";

    driver = window.driver.js.driver({
      animate: true,
      showProgress: true,
      //   stagePadding: -10,
      onDestroyed: (_: any, __: any, ___: any) => {
        campaignsModal.hide();
        setTourShown();
      },

      steps: [
        {
          element: ".main",
          popover: {
            title: "Dashboard",
            description: `Filter over 900 million professional profiles. <br><br> Each profile has a job title, an industry they work for and a location. <br> In the last column, you will find the company they currently work for, the headcount and the company vertical/industry.`,
            side: "left",
            align: "center",
          },
          onHighlightStarted: (_: any, __: any, options: any) => {
            options.config.stagePadding = -10;
            driver.setConfig(options.config);
          },
        },
        {
          element: "#mystuff",
          popover: {
            title: "Filtering Leads",
            description:
              "To narrow down your search, use the dropdown filter. Here you can filter leads based on specific criteria such as industry, location, company size, etc ",
          },
          side: "right",
          align: "start",
          onHighlightStarted: (_: any, __: any, options: any) => {
            options.config.stagePadding = 10;
            driver.setConfig(options.config);
          },
        },
        {
          element: "#message-btn",
          popover: {
            title: "Messaging Leads",
            description: `Communicating with leads has never been easier. By clicking the 'Send Messages' button, you can directly reach out to potential clients through our platform. You can easily personalize the message for each lead. <br><br> If sending over 1000 messages, you can open an account with resend.com and send millions or tens of millions of emails, conquering all your target market in 2 clicks.`,
          },
          onDeselected: (
            element: any,
            step: any,
            options: { config: any; state: any }
          ) => {
            const campaignModalElement = document.getElementById(
              "campaign-statistics-modal"
            );

            campaignsModal = bootstrap.Modal.getOrCreateInstance(
              campaignModalElement as any,
              {
                backdrop: true,
                keyboard: true,
                focus: true,
              }
            );

            campaignsModal.show();
          },
        },

        {
          element: "#campaign-statistics-modal",
          popover: {
            title: "Campaign Results",
            description: `So you've filtered your market. Sent the personalized email messages. Now, it's time to measure your engagement.  <br> You can easily see how many people opened your email messages, how many clicked the links in the emails.
And you can easily build on your previous work by retargeting the interested users.`,
          },
        },
        {
          popover: {
            title: "Whats Next?",
            description:
              " So you've validated your target market. It's time to grow! Send millions or tens of millions of personalized email messages by connecting your resend.com account.",
          },
        },
        {
          popover: {
            title: "We're delighted to have you here! ",
            description: `We want you to build and grow your business faster and cheaper than we ever could. We hope your entrepreneurial experience will go smoother than it did for us. Hence this easy-to-use platform. 
            <br><br>
Ask before you build.  <br>
Build with constant feedback.  <br>
Sell without paying an arm and a leg. 
<br><br>
And don't forget to have fun while building your dreams!
`,
          },
        },
      ],
    });

    setTimeout(() => {
      if (!isMobile) {
        let tourShown = isTourShown();

        if (!tourShown) {
          const el = document.getElementById("tourModal");
          modal = bootstrap.Modal.getOrCreateInstance(el, {
            backdrop: true, // darkens the background
            keyboard: true, // allows closing with the esc key
            focus: true, // focuses the modal after it is opened
          });

          modal.show();
        }
      } else {
        localStorage.setItem("tourShown", "true");
      }
    }, 3000);
  }
</script>

<div
  class="modal fade"
  id="tourModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title">Welcome!</h5> -->
        <div class="logo-container">
          <img src="assets/img/logo/logo-1.png" alt="welcome" class="logo" />
        </div>
      </div>
      <div class="modal-body">
        
        <p>
          Your message, instantly sent to millions of potential business
          customers. Filter your target market, personalize your message and see
          your business soar - without paying 30% of your revenue to ad
          platforms.
          <br /> <br />Use us to find your next strategic partnership, sell your
          product and hire. <br /> <br />Also use it to raise awareness, conduct
          experiments, test out your product against your target market without
          building the wrong thing.
          <br /><br /> Your imagination is the only limit!
        </p>
      </div>
      <div class="modal-footer">
        <button
          on:click={() => {
            driver.drive();
            modal.hide();
          }}
          type="button"
          class="btn btn-primary"
          data-dismiss="modal">Next</button
        >
      </div>
    </div>
  </div>
</div>

<style>
  .logo-container {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    height: 100%;
  }
</style>
