<script>
  import { initializeApp } from "firebase/app";
  import { getAuth, onAuthStateChanged } from "firebase/auth";

  import { firebaseConfig, loggedIn, user } from "../store/store";
  import { onMount } from "svelte";

  import Header from "$lib/components/Header.svelte";
  import LoginModal from "$lib/components/LoginModal.svelte";
  import Modal from "$lib/components/Modal.svelte";
  import UsagePricingModal from "$lib/components/UsagePricingModal.svelte";

  import HistoryModal from "$lib/components/HistoryModal.svelte";
  import CampaignStatisticsModal from "$lib/components/CampaignStatistics.svelte";

  import {
    filterCities,
    filterCountries,
    filterIndustry,
    filterJobTitle,
  } from "$lib/components/store/store";
  import { doc, getDoc, getFirestore } from "firebase/firestore";
  import SettingsModal from "$lib/components/SettingsModal.svelte";
  import Footer from "$lib/components/Footer.svelte";

  onMount(() => {
    // Initialize Firebase
    initializeApp(firebaseConfig);
  });

  // this was used to update the URLs on search
  /*
  const paramMap = {
    Country: filterCountries,
    City: filterCities,
    Industry: filterIndustry,
    "Job Title": filterJobTitle,
  };
*/
  onMount(async () => {
    const auth = getAuth();
    onAuthStateChanged(auth, async (state) => {
      if (state) {
        $user = state;
        const db = getFirestore();
        const data = await getDoc(doc(db, "customers", state.uid));
        console.log("xxxxxx");
        console.log(data);
        console.log("xxxxxx");
        $user.stripeId = data.get("stripeId");
        $user = $user;
        $loggedIn = true;
      }
    });

    /*
    const params = new URLSearchParams(window.location.search);
    for (const [key, value] of params.entries()) {
      if (paramMap[key])
        paramMap[key].set(JSON.parse(value).map(({ name }) => name));
    }*/
  });

  export const ssr = false;
</script>

<Header />
<LoginModal />
<Modal />
<UsagePricingModal />
<HistoryModal />
<CampaignStatisticsModal />
<SettingsModal />

<slot />
