<script>
    import BuyButtonPanel from "$lib/components/panels/BuyButtonPanel.svelte";
    import SendEmailsPanel from "$lib/components/panels/SendEmailsPanel.svelte";
    import Sidebar from "$lib/components/Sidebar.svelte";
    import MainContent from "$lib/components/main-content/MainContent.svelte";
</script>


<BuyButtonPanel />
<SendEmailsPanel />
<Sidebar />
<MainContent />
