<script>
  /** @type string */
  export let title;
  /** @type string */
  export let id;
  /** @type string */
  export let size = "lg";
</script>

<div class="modal fade" {id} tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-{size} modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{title}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        <slot />
      </div>
    </div>
  </div>
</div>
