<script>
  import Footer from "$lib/components/Footer.svelte";
</script>

<div class="container">
  <h1 class="header">Our Privacy Policy</h1>
  <p>
    Your privacy is extremely important to us. This privacy policy document
    outlines the personal information that is collected by ABillionLeads and how
    we use it.
  </p>

  <h2 class="sub-header">Log Files</h2>
  <p>
    We utilize log files like many other websites. The information in the log
    files include your IP address, your ISP, the browser you used to visit our
    website (like Firefox or Chrome), the time you visited our site and which
    pages you navigated throughout our site.
  </p>

  <h2 class="sub-header">Cookies</h2>
  <p>
    We use cookies to store information about visitors preferences, to record
    user-specific information on which pages the user access or visit, customize
    web page content based on visitors browser type or other information that
    the visitor sends via their browser.
  </p>

  <h2 class="sub-header">Personal Information</h2>
  <p>
    At times you may provide us with personal information such as your email
    address. This information is used solely by ABillionLeads for the purpose of
    answering your requests or communicating directly with you. We do not sell
    or share your personal information with any third parties unless legally
    compelled to do so.
  </p>

  <h2 class="sub-header">Data Protection Rights</h2>
  <p>
    We would like to make sure you are fully aware of all of your data
    protection rights. Every user is entitled to the following:
  </p>
  <ul>
    <li>
      <b>The right to access</b> – You have the right to request copies of your personal
      data.
    </li>
    <li>
      <b>The right to rectification</b> – You have the right to request that we correct
      any information you believe is inaccurate.
    </li>
    <li>
      <b>The right to erasure</b> – You have the right to request that we erase your
      personal data, under certain conditions.
    </li>
    <li>
      <b>The right to restrict processing</b> – You have the right to request that
      we restrict the processing of your personal data, under certain conditions.
    </li>
    <li>
      <b>The right to object to processing</b> – You have the right to object to
      our processing of your personal data, under certain conditions.
    </li>
    <li>
      <b>The right to data portability</b> – You have the right to request that we
      transfer the data that we have collected to another organization, or directly
      to you, under certain conditions.
    </li>
  </ul>

  <h2 class="sub-header">Children's Privacy</h2>
  <p>
    Important: we do not purposefully collect personal details from children
    under 13. If you are younger than 13, please do not provide any personal
    information to us.
  </p>

  <h2 class="sub-header">Security</h2>
  <p>
    We implement security measures to maintain the safety of your personal
    information when you enter, submit, or access your personal information.
    However, please be aware that no method of transmission over the internet,
    or method of electronic storage is 100% secure and we are unable to
    guarantee the absolute security of the personal information we have
    collected from you.
  </p>

  <h2 class="sub-header">Links to Third Party Websites</h2>
  <p>
    We have included links on this site for your use and reference. We are not
    responsible for the privacy policies on these websites. You should be aware
    that the privacy policies of these sites may differ from our own.
  </p>

  <h2 class="sub-header">Changes to our Privacy Policy</h2>
  <p>
    The contents of this privacy policy may be altered at any time, at our
    discretion. If you have any questions or concerns about our privacy policy,
    please feel free to contact us.
  </p>

  <h2 class="sub-header">Your Consent</h2>
  <p>
    By using our website, you hereby consent to our privacy policy and agree to
    its terms.
  </p>
</div>

<Footer />

<style>
  .container {
    margin-top: 120px;
    margin-bottom: 40px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  .header {
    font-size: 30px;
    margin: 0;
    color: #000;
  }
  .sub-header {
    font-size: 20px;
    color: #000;
    margin-top: 20px;
  }
  p {
    font-size: 16px;
    color: #000;
  }
</style>
