<script>
  import Footer from "$lib/components/Footer.svelte";
</script>

<div class="container">
  <h1 class="header">Terms Of Service</h1>

  <p>
    Please read these Terms of Service ("Terms", "Terms of Service") carefully
    before using the ABillionLeads website (the "Service") operated by
    ABillionLeads ("us", "we", or "our").
  </p>

  <h2 class="sub-header">1. Your access to and use of the Service</h2>
  <p>
    By accessing or using the Service you agree to be bound by these Terms. If
    you disagree with any part of the terms then you may not access the Service.
  </p>

  <h2 class="sub-header">2. Termination</h2>
  <p>
    We may terminate or suspend access to our Service immediately, without prior
    notice or liability, for any reason whatsoever, including without limitation
    if you breach the Terms.
  </p>

  <h2 class="sub-header">3. Content</h2>
  <p>
    Our Service allows you to post, link, store, share and otherwise make
    available certain information, text, graphics, or other material
    ("Content"). You are responsible for the all your activities and any
    consequences thereof while using our service, including the content you
    provide.
  </p>

  <h2 class="sub-header">4. Links To Other Web Sites</h2>
  <p>
    Our Service may contain links to third-party web sites or services that are
    not owned or controlled by ABillionLeads. ABillionLeads has no control over,
    and assumes no responsibility for the contents, privacy policies, or
    practices of any third party websites or services.
  </p>

  <h2 class="sub-header">5. Changes</h2>
  <p>
    We reserve the right, at our sole discretion, to modify or replace these
    Terms at any time. If a revision is material we will try to provide at least
    30 days' notice prior to any new terms taking effect. What constitutes a
    material change will be determined at our sole discretion.
  </p>

  <h2 class="sub-header">6. Contact Us</h2>
  <p>
    If you have any questions about these Terms, please contact us at
    contact@abillionleads.com
  </p>
</div>

<Footer />

<style>
  .container {
    margin-top: 120px;
    margin-bottom: 40px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  .header {
    font-size: 30px;
    margin: 0;
    color: #000;
  }
  .sub-header {
    font-size: 20px;
    color: #000;
    margin-top: 20px;
  }
  p {
    font-size: 16px;
    color: #000;
  }
</style>
