<!-- desktop placeholder -->
<div class="d-flex justify-content-between mt-1 d-none d-md-block">
  <span href="#" class="btn btn-small btn-outline-dark item"
    ><span class="">---</span>
  </span>
</div>

<!-- mobile placeholder -->
<span class="tab-item d-block d-md-none">---</span>

<style>
  .item {
    padding-left: 46px;
    padding-right: 46px;
  }

  .tab-item {
    border-color: rgb(203 213 225);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding: 4px;
    margin: 2px;
    font-size: 12px;
    padding-left: 32px;
    padding-right: 32px;
  }
</style>
