<script>
  import { onMount } from "svelte";
  import { checkedItems } from "../../components/store/store";
  import { Tooltip } from "@svelte-plugins/tooltips";
  import PlaceholderTab from "./PlaceholderTab.svelte";

  let bgColor = "white";

  export let id = "";

  export let full_name = "";

  export let twitter_username = "";
  $: twitterUrl = "https://twitter.com/" + twitter_username;

  export let github_username = "";
  $: githubUrl = "https://github.com/" + github_username;

  export let linkedin_username = "";
  $: linkedinUrl = "https://www.linkedin.com/in/" + linkedin_username;

  export let gender = "";

  export let email = "";
  export let phone_numbers = "";

  export let location_country = "";
  export let location_locality = "";

  export let industry = "";
  export let job_title = "";

  export let job_company_name = "";
  export let job_company_industry = "";
  export let job_company_size = "";
  export let job_company_linkedin_url = "";
  export let job_company_website = "";

  let finalLocationString = "";

  let isChecked = false;

  onMount(() => {
    finalLocationString;
    if (location_locality != null)
      finalLocationString += toTitleCase(location_locality);
    if (
      location_country != null &&
      location_locality != null &&
      location_locality != "" &&
      location_country != ""
    )
      finalLocationString += ", " + toTitleCase(location_country);
    else if (location_country != null)
      finalLocationString += toTitleCase(location_country);
  });

  function truncate(str, length) {
    if (str.length > length) {
      return str.slice(0, length) + "...";
    } else return str;
  }

  const toTitleCase = (phrase) => {
    if (phrase == undefined) return "";
    return phrase
      .toLowerCase()
      .split(" ")
      .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
      .join(" ");
  };

  function checkboxChanged() {
    console.log("i have checked this id " + linkedinUrl);
    isChecked = !isChecked;
    if (isChecked == false) {
      console.log("i have unchecked the id" + id);
      console.log(checkedItems);
      checkedItems.update((items) => items.filter((it) => it !== id));
      //checkedItems.update(items => items.filter( => id !== id));
      bgColor = "white";
    } else {
      console.log("i have checked the tick");
      console.log("the id checked is " + id);
      checkedItems.update((items) => [...items, id]);
      bgColor = "#FFC107";
    }
  }

  function rowClicked() {
    checkboxChanged();
  }
</script>

<!-- desktop view -->
<tr on:click={rowClicked} bgcolor={bgColor} class="d-md-table-row d-none">
  <!-- 
  <td>
      <input type="checkbox" bind:checked={isChecked} on:change={() => checkboxChanged()} >
    
  </td>
  -->
  <td>
    <div class="d-flex align-items-center">
      <span class="ps-2 font-weight-semibold text-gray-700 name--field">
        {toTitleCase(full_name)}
      </span>
    </div>

    <div class="d-flex align-items-center">
      <a href={linkedinUrl} target="_blank" rel="noreferrer">
        <span
          class="avatar avatar-sm shadow-sm rounded-circle me-1 d-flex align-items-center justify-content-center bg-white"
          ><img src="./assets/svg/icons/linkedin.svg" alt="LinkedIn" /></span
        >
      </a>
      {#if twitter_username != null && twitter_username != ""}
        <a href={twitterUrl} target="_blank" rel="noreferrer">
          <span
            class="avatar avatar-sm shadow-sm rounded-circle me-1 d-flex align-items-center justify-content-center bg-white"
            ><img src="./assets/svg/icons/twitter.svg" alt="Twitter" /></span
          >
        </a>
      {/if}

      {#if github_username != null && github_username != ""}
        <a href={githubUrl} target="_blank" rel="noreferrer">
          <span
            class="avatar avatar-sm shadow-sm rounded-circle me-1 d-flex align-items-center justify-content-center bg-white"
            ><img src="./assets/svg/icons/github.svg" alt="Github" /></span
          >
        </a>
      {/if}
      {#if email != ""}
        <i class="fa fa-envelope" />
      {/if}
      {#if phone_numbers != ""}
        <i class="fa fa-phone ms-2" />
      {/if}
    </div>
  </td>
  <td class="">
    <div>
      {#if job_title != null && job_title != ""}
        <span class="btn btn-small btn-outline-dark">
          {#if job_title.length > 20}
            <Tooltip content={job_title}>
              <span class="">{truncate(job_title, 20)}</span>
            </Tooltip>
          {:else}
            <span class="">{truncate(job_title, 20)}</span>
          {/if}
        </span>
      {:else}
        <PlaceholderTab />
      {/if}

      {#if industry != null && industry != ""}
        <div class="d-flex justify-content-between mt-1">
          <span href="#" class="btn btn-small btn-outline-dark"
            ><span class="">{industry}</span>
          </span>
        </div>
      {:else}
        <PlaceholderTab />
      {/if}
    </div>

    <div class="d-flex justify-content-between mt-1">
      {#if finalLocationString != " " && finalLocationString}
        <span href="#" class="btn btn-small btn-outline-dark">
          <span class="">
            {finalLocationString}
          </span>
        </span>
      {:else}
        <PlaceholderTab />
      {/if}
    </div>
  </td>
  <td>
    {#if job_company_name != "" && job_company_name != null}
      {#if job_company_name.length > 20}
        <Tooltip content={job_company_name}>
          <span class="btn btn-small btn-outline-dark d-block mt-1"
            >{truncate(job_company_name, 20)}</span
          >
        </Tooltip>
      {:else}
        <span class="btn btn-small btn-outline-dark d-block mt-1"
          >{truncate(job_company_name, 20)}</span
        >
      {/if}
    {:else}
      <PlaceholderTab />
    {/if}

    {#if job_company_size != "" && job_company_size != null}
      <span class="btn btn-small btn-outline-dark d-block mt-1"
        >{job_company_size}</span
      >
    {:else}
      <PlaceholderTab />
    {/if}

    {#if job_company_industry != "" && job_company_industry != null}
      <span class="btn btn-small btn-outline-dark d-block mt-1"
        >{job_company_industry}</span
      >
    {:else}
      <PlaceholderTab />
    {/if}
  </td>
</tr>

<!-- mobile view -->
<tr
  on:click={rowClicked}
  bgcolor={bgColor}
  class="d-md-none d-block mobile-container"
>
  <div
    style="display: flex; flex-direction: row; justify-content:space-between;"
  >
    <div class="d-flex align-items-center">
      <span class="ps-2 font-weight-semibold text-gray-700 name--field">
        {toTitleCase(full_name)}
      </span>
    </div>

    <div class="d-flex align-items-center">
      <a href={linkedinUrl} target="_blank" rel="noreferrer">
        <span
          class="avatar avatar-sm shadow-sm rounded-circle me-1 d-flex align-items-center justify-content-center bg-white"
          ><img src="./assets/svg/icons/linkedin.svg" alt="LinkedIn" /></span
        >
      </a>
      {#if twitter_username != null && twitter_username != ""}
        <a href={twitterUrl} target="_blank" rel="noreferrer">
          <span
            class="avatar avatar-sm shadow-sm rounded-circle me-1 d-flex align-items-center justify-content-center bg-white"
            ><img src="./assets/svg/icons/twitter.svg" alt="Twitter" /></span
          >
        </a>
      {/if}

      {#if github_username != null && github_username != ""}
        <a href={githubUrl} target="_blank" rel="noreferrer">
          <span
            class="avatar avatar-sm shadow-sm rounded-circle me-1 d-flex align-items-center justify-content-center bg-white"
            ><img src="./assets/svg/icons/github.svg" alt="Github" /></span
          >
        </a>
      {/if}
      {#if email != ""}
        <i class="fa fa-envelope" />
      {/if}
      {#if phone_numbers != ""}
        <i class="fa fa-phone ms-2" />
      {/if}
    </div>
  </div>

  <div>
    <div class="row-wrapper">
      <p class="title">Title</p>

      {#if job_title != null && job_title != ""}
        <span class="tab-item">
          {#if job_title.length > 25}
            <Tooltip content={job_title}>
              <span class="">{truncate(job_title, 25)}</span>
            </Tooltip>
          {:else}
            <span class="">{truncate(job_title, 25)}</span>
          {/if}
        </span>
      {:else}
        <PlaceholderTab />
      {/if}
    </div>
    <div class="row-wrapper">
      <p class="title">Industry</p>
      {#if industry != null && industry != ""}
        <span href="#" class="tab-item"><span class="">{industry}</span> </span>
      {:else}
        <PlaceholderTab />
      {/if}
    </div>

    <div class="row-wrapper">
      <p class="title">Location</p>
      {#if finalLocationString != " " && finalLocationString}
        <span href="#" class="tab-item">
          <span class="">
            {finalLocationString}
          </span>
        </span>
      {:else}
        <PlaceholderTab />
      {/if}
    </div>

    <div class="row-wrapper">
      <p class="title">Company</p>
      {#if job_company_name != "" && job_company_name != null}
        {#if job_company_name.length > 25}
          <Tooltip content={job_company_name}>
            <span class="tab-item">{truncate(job_company_name, 25)}</span>
          </Tooltip>
        {:else}
          <span class="tab-item">{truncate(job_company_name, 25)}</span>
        {/if}
      {:else}
        <PlaceholderTab />
      {/if}
    </div>

    <div class="row-wrapper">
      <p class="title">Sector</p>
      {#if job_company_industry != "" && job_company_industry != null}
        <span class="tab-item">{job_company_industry}</span>
      {:else}
        <PlaceholderTab />
      {/if}
    </div>
    <div class="row-wrapper">
      <p class="title">Size</p>
      {#if job_company_size != "" && job_company_size != null}
        <span class="tab-item">{job_company_size}</span>
      {:else}
        <PlaceholderTab />
      {/if}
    </div>
  </div>
</tr>

<style>
  .name--field {
    display: inline-block;
    white-space: normal;
    max-inline-size: 30ch;
    overflow-wrap: break-word;
    word-break: keep-all;
  }

  .tab-item {
    border-color: rgb(203 213 225);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding: 4px;
    margin: 2px;
    font-size: 12px;
  }

  .title {
    margin: 0px;
    font-size: 12px;
  }

  .mobile-container {
    border-bottom-color: rgb(226 232 240);
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .row-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
