<script lang="ts">
  import { loggedIn, pricingDifference, user } from "../../../store/store";
  import { writable, get } from "svelte/store";
  import { numberOfEmails, selectMode } from "./store";
  import { checkedItems, numberOfResults } from "../store/store";

  import { debounce } from "../utils";

  import { onMount } from "svelte";
  import ContactSelector from "./ContactSelector.svelte";
  import { showActionPopup } from "../store/app";

  $: credits =
    $selectMode === "SELECTED" ? $checkedItems.length : $numberOfEmails;

  let queryObject: any = {};

  let result = "";
  let showLoader = false;

  let userEmail = "";

  user.subscribe((val) => {
    if (val != undefined) userEmail = val.email;
    //userEmail = val.getEmail();
  });

  onMount(() => {});

  async function onSubmit(e: any) {
    debounce(wrappedOnSubmit(e));
  }
  

  async function wrappedOnSubmit(e: any) {
    if (!$loggedIn) {
      promptForLogin();
      return;
    }

    let button = document.getElementById("checkout-and-portal-button");
    button?.classList.add("disabled");
    console.log("Before delay");
    showLoader = true;

    await calculateCreditsNeeded();

    // get user id to send to nodejs
    let userObj = get(user);

    let idTokenObj = "";
    if (userObj) {
      userObj
        .getIdToken()
        .then((idToken: any) => {
          idTokenObj = idToken;
          console.log(idTokenObj);

          const options = {
            method: "POST",
            headers: {
              Authorization: "Bearer " + idTokenObj,
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              queryObject: queryObject,
              numberOfRowsToExport: credits,
            }),
          };

          fetch(import.meta.env.VITE_SERVER_URL + "/exportData", options).then(
            async (data) => {
              result = await data.text();
              showLoader = false;
              button?.classList.remove("disabled");
            }
          );
        })
        .catch((error: any) => {
          console.error("Failed to get user's ID token", error);
          showLoader = false;
          button?.classList.remove("disabled");
        });
    } else {
      console.log("No user is currently signed in");
    }
  }

  const calculateCreditsNeeded = async () => {
    let userObj = get(user);
    let idTokenObj = "";
    if (userObj) {
      idTokenObj = await userObj.getIdToken();
      console.log(idTokenObj);

      const options = {
        method: "GET",
        headers: {
          Authorization: "Bearer " + idTokenObj,
        },
      };

      const res = await fetch(
        import.meta.env.VITE_SERVER_URL +
          `/credits/difference?&&credits=${credits}`,
        options
      );
      if (res.ok) {
        const { difference } = await res.json();
        console.log({ difference });

        if (difference > 0) {
          promptForSubscription(difference);
          return;
        }
      }
    }
  };

  /**
   *
   */
  function promptForLogin() {
    const el = document.getElementById("loginModal");
    if (!el) throw new Error("loginModal not found");
    const modal = bootstrap.Modal.getOrCreateInstance(el);
    modal.show();
  }

  /**
   *
   */
  function promptForSubscription(difference: number) {
    //todo pass the difference to a modal
    const el = document.getElementById("usagePricingModal");
    if (!el) throw new Error("subscription modal not found");
    const modal = bootstrap.Modal.getOrCreateInstance(el);
    modal.show();

    pricingDifference.set(difference);
  }
</script>

<ContactSelector
  popupId="export-contacts"
  heading={"Export search"}
  subHeading="Export settings"
  profilesText={"Will export"}
  {queryObject}
  {showLoader}
  {result}
>
  <form
    action="/create-checkout-session"
    method="POST"
    class="checkout-form"
    on:submit|preventDefault={onSubmit}
  >
    <button
      class="btn btn-primary mt-4"
      id="checkout-and-portal-button"
      type="submit">Export - costs {credits} credits</button
    >
  </form>
</ContactSelector>

<style>
  .checkout-form {
    display: grid;
  }
</style>
