<script lang="ts">
  import { numberOfEmails, selectMode } from "./store";
  import { checkedItems, numberOfResults } from "../store/store";
  import { user } from "../../../store/store";
  import { onMount } from "svelte";
  import LoaderComponent from "../LoaderComponent.svelte";
  import { arrayOfFilters } from "../store/store";
  import { showActionPopup } from "../store/app";
  import { fly } from "svelte/transition";
  import { formatNumber } from "../utils";

  export let result: string | undefined;
  export let heading: string;
  export let subHeading: string;
  export let profilesText: string;
  export let showLoader: boolean;
  export let queryObject: any;

  export let popupId: string;

  $: selectMode.set($checkedItems.length > 0 ? "SELECTED" : "BULK");
  $: bulkChecked = $selectMode === "BULK";
  $: selectChecked = $selectMode === "SELECTED";

  const close = () => {
    showActionPopup.set("");
  };

  onMount(() => {
    Object.keys(arrayOfFilters).forEach((key) => {
      // @ts-ignore
      arrayOfFilters[key].subscribe((val: any) => {
        queryObject[key] = val;

        numberOfEmails.set(0);
      });
    });

    // close on outside click
    document.body.addEventListener("click", (e) => {
      // @ts-ignore
      if (e?.target?.closest(`.popup-container-contact-selector`)) return;
      close();
    });
  });
</script>

{#if $showActionPopup === popupId}
  <div
    style={`
    height: ${$showActionPopup === "send-email" ? "730px" : "400px"};
    max-width: ${$showActionPopup === "send-email" ? "800px" : "600px"};`}
    transition:fly={{ opacity: 0, duration: 150 }}
    class="popup-container-contact-selector"
  >
    <div class="contact-selector-header border-bottom border-gray-200">
      <p
        style="line-height: 2; margin-bottom: 0; margin-top: 0;"
        class="fw-bold"
      >
        {heading}
      </p>
      <div class="text-end">
        <button
          on:click={close}
          class="btn btn-icon rounded-pill customize-close-buy"
        >
          <svg
            data-name="icons/tabler/close"
            xmlns="http://www.w3.org/2000/svg"
            width="15"
            height="15"
            viewBox="0 0 16 16"
          >
            <rect
              data-name="Icons/Tabler/Close background"
              width="16"
              height="16"
              fill="none"
            />
            <path
              d="M.82.1l.058.05L6,5.272,11.122.151A.514.514,0,0,1,11.9.82l-.05.058L6.728,6l5.122,5.122a.514.514,0,0,1-.67.777l-.058-.05L6,6.728.878,11.849A.514.514,0,0,1,.1,11.18l.05-.058L5.272,6,.151.878A.514.514,0,0,1,.75.057Z"
              transform="translate(2 2)"
              fill="#1E1E1E"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="customize-body p-4">
      <section style="padding-left: 8px; padding-right:8px;">
        <!-- <div class="container">
          <div class="text-start ps-3 fw-bold">{subHeading}</div>
          <br />
        </div> -->

        <div>
          <div class="row">
            <div class="form-check col">
              <input
                disabled={$checkedItems.length <= 0}
                class="form-check-input"
                type="radio"
                name={"type" + popupId}
                checked={selectChecked}
                id="selectedContacts"
                on:change={(e) => {
                  // @ts-ignore
                  if (e?.target?.value) selectMode.set("SELECTED");
                }}
              />
              <label class="form-check-label" for="selectedContacts">
                Selected contacts({$checkedItems.length} contacts)
              </label>
            </div>
          </div>

          <div class="row">
            <div class="form-check col">
              <input
                class="form-check-input"
                type="radio"
                name={"type" + popupId}
                checked={bulkChecked}
                id={"bulkContacts"}
                on:change={(e) => {
                  // @ts-ignore
                  if (e?.target?.value) selectMode.set("BULK");
                }}
              />
              <label class="form-check-label" for="Bulk contacts">
                Bulk contacts
              </label>
            </div>
          </div>
          <br />
          <label>
            Profiles ({profilesText}
            {formatNumber(
              selectChecked ? $checkedItems.length : $numberOfEmails
            )}
            Contacts )

            {#if bulkChecked}
              <input
                class="form-range"
                name="emails"
                type="range"
                min="0"
                max={$numberOfResults}
                bind:value={$numberOfEmails}
              />
              <input
                name="emailsInput"
                type="text"
                bind:value={$numberOfEmails}
              />
            {/if}
          </label>
          <input type="hidden" name="lookup_key" value="price" />
          <input type="hidden" name="query" />
          <input type="hidden" name="customerId" value={$user?.stripeId} />
          <br />
        </div>

        <div style="padding-top: 12px;">
          <slot />
        </div>

        <div>{result}</div>

        {#if showLoader}
          <div>
            <LoaderComponent />
          </div>
        {/if}
      </section>
    </div>
  </div>
{/if}

<style>
  .popup-container-contact-selector {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    width: 100%;
    border: 1px solid #ccc;
    margin-right: 20px;
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .contact-selector-header {
    background-color: #f2f6fc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: 70px; */
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  @media (max-width: 991px) {
    .popup-container-contact-selector {
      left: 0 !important;
      right: 0 !important;
      height: 92vh !important;
      max-width: 100% !important;
    }
  }
</style>
