<script lang="ts">
  import { onMount } from "svelte";
  import { loggedIn, pricingDifference, user } from "../../../store/store";
  import ContactSelector from "./ContactSelector.svelte";
  import { writable, get } from "svelte/store";
  import { numberOfEmails, selectMode } from "./store";
  import { checkedItems } from "../store/store";

  $: credits =
    $selectMode === "SELECTED" ? $checkedItems.length : $numberOfEmails;

  let queryObject = {};
  let result = "";
  // i can prepopulate this with the user's email
  let replyToEmail = "";
  let subject = "";
  let message = "";

  function sendEmails() {
    //alert("ALARM");
    // remove click handler and add loading gif on button
    replyToEmail;
    subject;
    message;

    if (replyToEmail.trim().length === 0) {
      result = "Reply-to email required.";
      return;
    }

    if (subject.trim().length === 0) {
      result = "Subject required.";
      return;
    }

    if (message.trim().length === 0) {
      result = "Message required.";
      return;
    }
    result = "";

    // get user id to send to nodejs
    let userObj = get(user);
    console.log(userObj);
    let idTokenObj = "";
    if (userObj) {
      userObj
        .getIdToken()
        .then((idToken: any) => {
          idTokenObj = idToken;
          console.log(idTokenObj);
          const options = {
            method: "POST",
            headers: {
              Authorization: "Bearer " + idTokenObj,
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              queryObject: queryObject,
              numberOfRowsToExport: credits,
              replyToEmail: replyToEmail,
              subject: subject,
              message: message,
            }),
          };
          fetch(import.meta.env.VITE_SERVER_URL + "/sendEmails", options).then(
            async (data) => {
              result = await data.text();
            }
          );
        })
        .catch((error: any) => {
          console.error("Failed to get user's ID token", error);
        });
    } else {
      console.log("No user is currently signed in");
    }
  }
</script>

<ContactSelector
  showLoader={false}
  {queryObject}
  heading={"Send messages"}
  subHeading="Recipients"
  popupId="send-email"
  result={""}
  profilesText={"Will send emails to"}
>
  <!-- <div class="text-start ps-3 fw-bold">Reply-to</div> -->

  <input
    placeholder="Reply-to"
    class="compose-input"
    name="replyToEmail"
    type="text"
    bind:value={replyToEmail}
  />

  <!-- <div class="text-start ps-3 fw-bold">Subject</div> -->

  <input
    placeholder="Subject"
    class="compose-input"
    name="replyToEmail"
    type="text"
    bind:value={subject}
  />

  <!-- <div class="text-start ps-3 fw-bold">
    Message - here is a tutorial on message writing 
  </div> -->

  <!-- mobile -->
  <textarea
    placeholder="Message"
    class="compose-textarea d-block d-lg-none"
    rows="8"
    cols="35"
    bind:value={message}
  />

  <!-- desktop -->
  <textarea
    placeholder="Message"
    class="compose-textarea d-lg-block d-none"
    rows="11"
    cols="35"
    bind:value={message}
  />

  <div>{result}</div>

  <div class="d-flex flex-column-reverse flex-lg-row justify-content-lg-between align-items-lg-center">
    <div
      class="btn btn-warning mb-2 customize-btn send-button mt-lg-3"
      on:click={sendEmails}
    >
      Send email messages
    </div>

    <a style="font-size: 14px;" href="https://google.com">
      Message Template Guide
    </a>
  </div>

</ContactSelector>

<style>
  .send-button {
    margin-top: 6px;
    border-radius: 99px;
  }
  .compose-input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    margin-top: 10px;
  }

  .compose-textarea {
    flex-grow: 1;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    resize: none;
    width: 100%;
  }

  @media (max-width: 991px) {
    .small-text {
      font-size: 0.7rem;
      line-height: 18px;
    }
  }
</style>
