<script>
  import { firebaseConfig, loggedIn, user } from "../../../store/store";
  import { writable, get } from "svelte/store";
  import { showActionPopup } from "../store/app";
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();
</script>

<div class="py-3 signout d-flex flex-column w-100 mt-auto">
  <!-- svelte-ignore a11y-click-events-have-key-events -->

  <!-- 
  <div
    on:click|stopPropagation={(_) => {
          document.body.classList.add("customize-box");
          // test protected route
         

         
        }
      }
    class="btn btn-warning btn-lg mb-2 customize-btn"
  >
    Search stats
  </div>
  -->

  <!-- svelte-ignore a11y-click-events-have-key-events -->
  <!-- <div
    on:click|stopPropagation={(_) =>{
      showActionPopup.set("export-contacts")
      dispatch("actionButtonClicked");
    }}
    class="btn btn-primary btn-lg mb-2 customize-btn-buy"
  >
    Export search
  </div> -->
  <!-- svelte-ignore a11y-click-events-have-key-events -->

  <div
  id="message-btn"
    on:click|stopPropagation={(_) => {
      showActionPopup.set("send-email");
      dispatch("actionButtonClicked");
    }}
    class="btn btn-warning btn-lg customize-btn-sendEmails"
  >
    Send messages
  </div>
</div>
