<script>
  export let propertyName;
  export let greyOut = false;
  export let filteredSelectionList = { included: [], excluded: [] };
</script>

<div class="nav-link form-group">
  <input
    on:change={(e) => {
      console.log(propertyName + " has changed value to " + e.target.checked);
      if (e.target.checked == true) {
        if (!filteredSelectionList.included.includes(propertyName)) {
          filteredSelectionList.included = [...filteredSelectionList.included, propertyName];
        }
      } else {
        filteredSelectionList.included = filteredSelectionList.included.filter((e) => e !== propertyName);
      }
      filteredSelectionList = {
        included: filteredSelectionList.included,
        excluded: [],
      };

      console.log(selectionList);
    }}
    type="checkbox"
    class="form-check-input"
    style={greyOut ? "background-color: #e6e6e6" : ""}
  />
  <label class="form-check-label">{propertyName}</label>
</div>
