<script>
  import { createEventDispatcher } from "svelte";

  export let labelValue = "";
  export let excluded = false;
  const dispatch = createEventDispatcher();
</script>

<div class="dropdown">
  <a
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    class="btn btn-soft-primary btn-sm"
    class:btn-soft-primary={!excluded}
    class:btn-soft-danger={excluded}
    ><span> {labelValue} </span>
    <svg
      class="ms-2"
      xmlns="http://www.w3.org/2000/svg"
      width="9"
      height="9"
      viewBox="0 0 13 13"
    >
      <rect
        data-name="Icons/Tabler/Chevron Down background"
        width="9"
        height="9"
        fill="none"
      />
      <path
        d="M.214.212a.738.738,0,0,1,.952-.07l.082.07L7.1,5.989a.716.716,0,0,1,.071.94L7.1,7.011l-5.85,5.778a.738.738,0,0,1-1.034,0,.716.716,0,0,1-.071-.94l.071-.081L5.547,6.5.214,1.233A.716.716,0,0,1,.143.293Z"
        transform="translate(13 3.25) rotate(90)"
        fill="#0d6efd"
      />
    </svg>
  </a>
  <div class="dropdown-menu" style="">
    <a href="#!" class="dropdown-item" on:click={() => dispatch("remove")}>
      Remove
    </a>
    <!-- 
      <a href="#!" class="dropdown-item">
        Remove all other countries
      </a>
      -->
    <a
      href="#!"
      class="dropdown-item"
      on:click={() => {
        excluded = !excluded;
        dispatch(excluded ? "exclude" : "include");
      }}
    >
      {#if !excluded}
        Exclude
      {:else}
        Include
      {/if}
    </a>
  </div>
</div>
