<script lang="ts">
  import * as autoComplete from "@tarekraafat/autocomplete.js";
  import FilterButton from "./FilterButton.svelte";
  import { formatNumber, onoutsideclick } from "../utils";
  import Dropdown from "../Dropdown.svelte";
  import AutocompleteItem from "./AutocompleteItem.svelte";
  import { browser } from "$app/environment";
  import { page } from "$app/stores";

  export let label = "";
  export let urlLabel = "";
  export let autocompleteData = "";
  let inputValue: string;
  let selectionList: any = [];
  // selection list that excludes the excludeList
  export let filteredSelectionList: any = { included: [], excluded: [] };
  export let greyOut = false;
  export let excludeList: any = [];

  export let showCount = true;

  let searching = false;
  let autocompleteItems: any = [];

  // items.suggest.location_locality[Object.keys(items.suggest.location_locality).at(0)].suggestions
  async function updateList(value: any) {
    if(greyOut) return
    searching = true;
    if (!value) {
      selectionList = [];
      return;
    }

    let searchValue = value.data;

    //%7B%27field%27%3A%27location_country%27%2C%20%27text%27%3A%27i%27%7D
    //console.log(JSON.stringify({field:autocompleteData, text:inputValue}));
    const url =
      import.meta.env.VITE_SERVER_URL +
      "/suggest?field=" +
      autocompleteData +
      "&text=" +
      inputValue; //+encodeURIComponent(JSON.stringify({field:autocompleteData, text:inputValue}));
    console.log(url);
    //`https://random-data-api.com/api/v2/users?size=10&value=${value}`;
    let items = await fetch(url).then((res) => res.json());
    console.log("-----");
    console.log(JSON.stringify(items));
    console.log("-----");
    //items = items.suggest[autocompleteData][Object.keys(items.suggest[autocompleteData]).at(0)].suggestions
    autocompleteItems = items.map(
      ({ source, count }: { source: string; count: string }) => ({
        value: source,
        display:
          showCount === true
            ? source + " - " + formatNumber(count) + " records"
            : source,
      })
    ); //items.map(t => t.term.replace(/<\/?[^>]+(>|$)/g, ""));
    //autocompleteItems = items.map((item) => item.firunist_name.slice(0, 10));
  }

  function updateFilteredSelectionList() {
    const includedItems = selectionList.filter(
      (item) => !excludeList.includes(item)
    );

    filteredSelectionList = { included: includedItems, excluded: excludeList };
  }

  function onSelect({ detail: item }) {
    selectionList = [...selectionList, item];
    updateFilteredSelectionList();
    searching = false;
    inputValue = "";
    updateParams();
  }

  function onRemove(item) {
    selectionList = [...selectionList.filter((i) => i !== item)];
    updateFilteredSelectionList();
    updateParams();
  }

  function onExclude(item) {
    excludeList.push(item);
    updateFilteredSelectionList();
    updateParams();
  }

  function onInclude(item) {
    excludeList = excludeList.filter((li) => li !== item);
    updateFilteredSelectionList();
    updateParams();
  }

  function updateParams() {
    /*
        if (!browser) return;
        const url = new URL(window.location.href);
        if (selectionList.length == 0) {
            for (const [key, value] of url.searchParams.entries()) {
                url.searchParams.delete(key);
            }
            history.pushState(undefined, "", url.toString());
            return;
        }
        const data = selectionList.map((item) => {
            if (excludeList.includes(item)) {
                return {
                    name: item,
                    option: "exclude",
                };
            }
            return {
                name: item,
            };
        });
        url.searchParams.set(label, JSON.stringify(data));
        history.pushState(undefined, "", url.toString());
        */
  }
</script>

<li class="item" use:onoutsideclick={() => (searching = false)}>
  <div class="box">
    <Dropdown
      placeholder={label}
      items={searching ? autocompleteItems : []}
      on:input={updateList}
      bind:value={inputValue}
      on:select={onSelect}
      {greyOut}
    />
  </div>
  <div class="results">
    {#if selectionList.length}
      <div class="filters">
        {#each selectionList as item}
          <FilterButton
            labelValue={item}
            on:remove={() => onRemove(item)}
            on:exclude={() => onExclude(item)}
            on:include={() => onInclude(item)}
          />
        {/each}
      </div>
    {/if}
  </div>
</li>

<style>
  * {
    box-sizing: border-box;
  }

  .item {
    display: grid;
    place-items: center;
    margin-block: 1px;
  }
  .box {
    width: 80%;
    position: relative;
    border: 1px solid #d4d4d4;
  }
  .results {
    width: 80%;
    position: relative;
  }
  .filters {
    gap: 2px;
    display: flex;
    flex-wrap: wrap;
    padding: 0.4rem;
  }
</style>
