<script lang="ts">
  import { onMount } from "svelte";
  import SearchComponent from "./SearchComponent.svelte";
  import SvelteTooltip from "svelte-tooltip";
  import {
    filterCities,
    filterCountries,
    filterIndustry,
    filterSkills,
    filterInterests,
    filterCertifications,
    filterSchoolnames,
    filterDegrees,
    filterLanguages,
    filterJobTitle,
    filterBusinessName,
    filterBusinessIndustry,
    filterSeniority,
    filterCompanySizes,
  } from "../store/store";
  import Checkbox from "./Checkbox.svelte";

  let seniorityLevels = [
    "owner",
    "cxo",
    "partner",
    "vp",
    "director",
    "manager",
    "senior",
    "training/intern",
    "unpaid",
  ];
  let businessSizes = [
    "1-10",
    "11-50",
    "51-200",
    "201-500",
    "501-1000",
    "1001-5000",
    "5001-10000",
    "10000+",
  ];

  onMount(() => {
    import("@static/assets/vendor/simplebar/dist/simplebar.min.js");
  });
</script>

<div id="mystuff" class="navbar-collapse custom-navbar-collapse-top">
  <ul class="navbar-nav mb-2" id="accordionExample" data-simplebar>
    <div class="simplebar-wrapper" style="margin: 0px;">
      <div class="simplebar-height-auto-observer-wrapper">
        <div class="simplebar-height-auto-observer" />
      </div>
      <div class="simplebar-mask">
        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
          <div
            class="simplebar-content-wrapper"
            style="height: 100%; overflow: hidden;"
          >
            <div class="simplebar-content" style="padding: 0px;">
              <li class="nav-item">
                <a
                  class="nav-link collapsed"
                  href="#professionalProfile"
                  data-bs-toggle="collapse"
                  role="button"
                  aria-expanded="false"
                  aria-controls="professionalProfile"
                >
                  <span class="ms-2">Professional profile</span>
                </a>
                <div
                  class="collapse-box collapse"
                  id="professionalProfile"
                  data-bs-parent="#accordionExample"
                  style=""
                >
                  <ul class="nav nav-sm flex-column">
                    <SearchComponent
                      label="Country"
                      autocompleteData="location_country"
                      bind:filteredSelectionList={$filterCountries}
                    />
                    <SearchComponent
                      label="City"
                      showCount={false}
                      autocompleteData="location_locality"
                      bind:filteredSelectionList={$filterCities}
                    />
                    <SearchComponent
                      label="Industry"
                      autocompleteData="industry"
                      bind:filteredSelectionList={$filterIndustry}
                    />

                    <SearchComponent
                      label="Skills"
                      showCount={false}
                      autocompleteData="skills"
                      bind:filteredSelectionList={$filterSkills}
                    />

                    <SearchComponent
                      label="Interests"
                      showCount={false}
                      autocompleteData="interests"
                      bind:filteredSelectionList={$filterInterests}
                    />

                    <SearchComponent
                      label="Certifications"
                      showCount={false}
                      autocompleteData="certifications"
                      bind:filteredSelectionList={$filterCertifications}
                    />

                    <SearchComponent
                      label="Schools attended"
                      showCount={false}
                      autocompleteData="schoolnames"
                      bind:filteredSelectionList={$filterSchoolnames}
                    />

                    <SearchComponent
                      label="Degrees"
                      showCount={false}
                      autocompleteData="degrees"
                      bind:filteredSelectionList={$filterDegrees}
                    />
                    <!-- 
                    <SearchComponent
                      label="Languages"
                      autocompleteData="languages"
                      bind:selectionList={$filterLanguages}
                    />
-->
                    <SearchComponent
                      showCount={false}
                      label="Job title"
                      autocompleteData="job_title"
                      bind:filteredSelectionList={$filterJobTitle}
                    />

                    <div>
                      <div class="nav-link form-group">
                        <SvelteTooltip tip="Purchase subscription." top>
                          Seniority
                        </SvelteTooltip>
                      </div>
                      {#each seniorityLevels as i}
                        <Checkbox
                          propertyName={i}
                          bind:filteredSelectionList={$filterSeniority}
                        />
                      {/each}

                      <div class="nav-link form-group">
                        <SvelteTooltip tip="Purchase subscription.">
                          Personal data
                        </SvelteTooltip>
                      </div>
                      <!-- 
                    <Checkbox greyOut = true propertyName="Only profiles with email"/>
                    <Checkbox greyOut = true propertyName="Only profiles with phone number"/>
-->
                      <SearchComponent label="Buy intent" greyOut="true" />
                    </div>
                  </ul>
                </div>
              </li>
              <li class="nav-item" style="top: 250.973px;">
                <a
                  class="nav-link collapsed"
                  href="#businessProfile"
                  data-bs-toggle="collapse"
                  role="button"
                  aria-expanded="false"
                  aria-controls="businessProfile"
                >
                  <span class="ms-2">Business profile</span>
                </a>
                <div
                  class="collapse collapse-box"
                  id="businessProfile"
                  data-bs-parent="#accordionExample"
                >
                  <ul class="nav nav-sm flex-column">
                    <!-- 
                    <SearchComponent
                      label="Business name"
                      autocompleteData="company_name"
                      storeBinding="filterCountries"
                    />
                    -->

                    <!-- IT SHOULD HAVE SAID autocompleteData="company_industry" but 
                    there's a problem in the SOLR deployment -->
                    <SearchComponent
                      label="Business industry"
                      autocompleteData="job_company_industry"
                      bind:filteredSelectionList={$filterBusinessIndustry}
                    />

                    <SearchComponent
                      showCount={false}
                      label="Business name"
                      autocompleteData="job_company_name"
                      bind:filteredSelectionList={$filterBusinessName}
                    />

                    <div>
                      <div class="nav-link form-group">Business size</div>

                      {#each businessSizes as i}
                        <Checkbox
                          propertyName={i}
                          bind:filteredSelectionList={$filterCompanySizes}
                        />
                      {/each}
                      <!-- 
                      <Checkbox greyOut = true propertyName="1-10"/>
                      <Checkbox greyOut = true propertyName="11-50"/>
                      <Checkbox greyOut = true propertyName="51-200"/>
                      <Checkbox greyOut = true propertyName="201-500"/>
                      <Checkbox greyOut = true propertyName="501-1000"/>
                      <Checkbox greyOut = true propertyName="1001-5000"/>
                      <Checkbox greyOut = true propertyName="5001-10000"/>
                      <Checkbox greyOut = true propertyName="10000+"/>
-->
                      <SearchComponent label="Technologies" greyOut="true" />

                      <SearchComponent label="Keywords" greyOut="true" />

                      <div class="nav-link form-group">
                        <SvelteTooltip tip="Purchase subscription.">
                          Revenue range
                        </SvelteTooltip>
                      </div>
                      <!-- 
                      <Checkbox greyOut = true propertyName="<1M USD"/>
                      <Checkbox greyOut = true propertyName="1M to 10M USD"/>
                      <Checkbox greyOut = true propertyName="10M to 50M USD"/>
                      <Checkbox greyOut = true propertyName="50M to 100M USD"/>
                      <Checkbox greyOut = true propertyName="100M to 500M USD"/>
                      <Checkbox greyOut = true propertyName="500M to 1B USD"/>
                      <Checkbox greyOut = true propertyName="1B to 10B USD"/>
                      <Checkbox greyOut = true propertyName=">10B USD"/>
                      -->

                      <div class="nav-link form-group">
                        <SvelteTooltip tip="Purchase subscription.">
                          Total funding
                        </SvelteTooltip>
                      </div>
                      <!-- 
                      <Checkbox greyOut = true propertyName="<1M USD"/>
                      <Checkbox greyOut = true propertyName="1M to 10M USD"/>
                      <Checkbox greyOut = true propertyName="10M to 50M USD"/>
                      <Checkbox greyOut = true propertyName="50M to 100M USD"/>
                      <Checkbox greyOut = true propertyName="100M to 500M USD"/>
                      <Checkbox greyOut = true propertyName="500M to 1B USD"/>
                      <Checkbox greyOut = true propertyName="1B to 10B USD"/>
                      <Checkbox greyOut = true propertyName=">10B USD"/>
                      -->
                      <SearchComponent
                        label="Hiring for job title"
                        greyOut="true"
                      />
                    </div>
                  </ul>
                </div>
              </li>
              <li class="nav-item" style="top: 306.759px;">
                <hr class="my-0 bg-gray-50 opacity-100" />
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="simplebar-placeholder" style="width: auto; height: 148px;" />
    </div>
    <div
      class="simplebar-track simplebar-horizontal"
      style="visibility: hidden;"
    >
      <div
        class="simplebar-scrollbar simplebar-visible"
        style="width: 0px; display: none;"
      />
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
      <div
        class="simplebar-scrollbar"
        style="height: 0px; display: none; transform: translate3d(0px, 0px, 0px);"
      />
    </div>
  </ul>
</div>
