<script lang="ts">
  import { onMount } from "svelte";
  import { sidebarOpen } from "../store/app";
  import TableRow from "../tableComponents/TableRow.svelte";
  import { numberOfResults, numberOfResultsFormated } from "../store/store";

  import { arrayOfFilters } from "../store/store";
  import fetchLeads from "./fetch-leads";
  import LoaderComponent from "../LoaderComponent.svelte";
  import { debounce } from "../utils";
  import WelcomeModal from "../tour/WelcomeModal.svelte";
  import Footer from "../Footer.svelte";

  let showResultsSpan = true;
  let actualResults: any = [];

  // here i am not removing the values
  let queryObject: any = {};

  let currentPageToRetrieve = 1;

  // keeps track of the current values of the arrayOfFilters to avoid fetching the same data twice
  let arrayOfFiltersValues: any = {};

  let loadMoreLoading = false;
  let initialLoading = true;

  onMount(async () => {
    fetchNewDataFromServer(false);
    Object.keys(arrayOfFilters).forEach((key) => {
      // @ts-ignore
      arrayOfFilters[key].subscribe((val: any) => {
        if (!arrayOfFiltersValues[key]) {
          arrayOfFiltersValues[key] = val;
          return;
        }

        // if the value hasnt changed then dont fetch
        if (arrayOfFiltersValues[key] === val) return;

        queryObject[key] = val;
        console.log("FETCHED ON FILTER CHANGE: ", key);
        fetchNewDataFromServer();
      });
    });
  });

  async function fetchNewDataFromServer(newPageRequested = false) {
    debounce(wrappedFetchNewDataFromServer(newPageRequested));
  }

  async function wrappedFetchNewDataFromServer(newPageRequested: boolean) {
    // implement this properly!!!!!
    // here is an example of an object
    /*

{
"included":
    {"location_country":["united states"],"industry":["internet"]},
"excluded":
    {"location_locality":["colorado springs"]}
};


  // toggling a country in the UI from included(by default) to excluded should move the country from
  // included keys to excluded keys
  // study the new elasticMiddleware tests in the repo and implement it properly!!!!
    */

    /*


    */

    // go through all the filters and select those that have values in them
    let newQueryObject = {
      excluded: {},
      included: {},
    };

    for (let key in queryObject) {
      if (queryObject.hasOwnProperty(key)) {
        newQueryObject.excluded[key] = queryObject[key].excluded;
        newQueryObject.included[key] = queryObject[key].included;
      }
    }

    const response = await fetchLeads({
      queryObject: newQueryObject,
      page: currentPageToRetrieve,
    });
    console.log("=====");
    console.log(response.results);
    console.log("=====");
    if (newPageRequested == false) {
      response.count && numberOfResults.update((n) => response.count);
      actualResults = response.results;
    } else {
      actualResults = actualResults.concat(response.results);
    }

    loadMoreLoading = false;
    initialLoading = false;
  }
</script>

<WelcomeModal />

<div class="main" class:sidebar-unshift={!$sidebarOpen}>
  <div class="container-fluid px-0 h-100">
    <div class="col-12  h-100">
      <div class="card shadow-dark-80 border border-gray-50 h-100">
        {#if initialLoading}
          <div class="initial-loader-container">
            <LoaderComponent />
          </div>
        {:else}
          <div class="card-body px-0 pt-2">
            {#if showResultsSpan}
              <div class="col-12">
                <div
                  class="bg-primary text-white d-inline-block w-100 text-center py-2"
                >
                  Found {$numberOfResultsFormated} results in 709M records. Showing
                  {actualResults.length} profiles.
                  <span
                    on:click={() => (showResultsSpan = false)}
                    class="close-btn-info ms-3"><i class="fa fa-close" /></span
                  >
                </div>
              </div>
            {/if}
            <div class="col-12 table-responsive">
              <table class="table card-table table-nowrap overflow-hidden">
                <thead class="main-header">
                  <tr>
                    <!-- <th>Selection</th> -->
                    <th>Name</th>
                    <th>Title/Industry/Location</th>
                    <th>Company industry, size</th>
                  </tr>
                </thead>
                <tbody class="list p-4">
                  <!--  THIS SHOULD WORK WITH JUST THE ID BUT WE HAVE DUPLICATES IN THE DATABASE  -->
                  <!-- IF WE DON'T USE THE ID WHEN WE CHANGE THE FILTERS THE TABLEROW NEVER INVLIDATES THE DATA!!!!!!!-->
                  <!-- -->
                  {#each actualResults as dataRow, index (dataRow.id + "" + index)}
                    <TableRow {...dataRow} />
                  {/each}
                </tbody>
              </table>
            </div>
          </div>

          {#if loadMoreLoading}
            <div class="load-more-loader-container">
              <LoaderComponent />
            </div>
          {:else}
            <a
              class="btn btn-primary mx-4 mb-4"
              on:click={() => {
                currentPageToRetrieve++;
                loadMoreLoading = true;
                fetchNewDataFromServer(true);
              }}>Load 30 more</a
            >
          {/if}
        {/if}

        <Footer />
      </div>
    </div>
  </div>
</div>

<style>
  .main {
    display: flex;
    margin-left: 19rem;
    margin-top: 3rem;
    transition: margin-left 0.5s ease-in-out;
  }
  @media screen and (max-width: 991px) {
    .main {
      margin-left: 0rem;
    }
  }
  .card-body {
    width: 100%;
  }
  .sidebar-unshift {
    margin-left: 0 !important;
    transition: margin-left 0.5s ease-in-out;
  }

  .load-more-loader-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
  }

  .initial-loader-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .main-header {
    display: none;
  }

  @media (min-width: 768px) {
    .main-header {
      display: table-header-group;
    }
  }
</style>
