<script lang="ts">
  import Modal from "./base/Modal.svelte";
  import { onMount } from "svelte";
  import TableRowCampaign from "./TableRowCampaign.svelte";
  import { writable, get } from "svelte/store";
  import { user } from "../../store/store";

  const currentDate = new Date();

  const demoData = [
    {
      subject: "Example Campaign",
      id: "a",
      recipient_count: 25_000,
      open_count: 6480,
      open_rate: 25,
      click_count: 3562,
      click_rate: 14,
      date: currentDate.toLocaleDateString(),
      bounce_count: 26,
    },
    {
      subject: "Sales Outreach Campaign",
      id: "v",
      recipient_count: 80_000,
      open_count: 56_020,
      open_rate: 70,
      click_count: 25_300,
      click_rate: 31,
      date: currentDate.toLocaleDateString(),
      bounce_count: 325,
    },
    {
      subject: "Retargeting Example Campaign",
      id: "c",
      recipient_count: 95_000,
      open_count: 80_300,
      open_rate: 84,
      click_count: 36_020,
      click_rate: 37,
      date: currentDate.toLocaleDateString(),
      bounce_count: 204,
    },
  ];

  let campaignData: any[] = [...demoData];

  const addDemoData = () => {
    campaignData.push(...demoData);
  };

  $: if ($user) {
    $user.getIdToken().then((idToken: any) => {
      console.log(idToken);

      const options = {
        method: "GET",
        headers: {
          Authorization: "Bearer " + idToken,
          "Content-Type": "application/json",
        },
      };
      fetch(import.meta.env.VITE_SERVER_URL + "/campaigns/list", options).then(
        async (data) => {
          const campaigns = await data.json();

          campaignData = campaigns.data;
          console.log({ campaignData });
          if (campaigns.data.length === 0) {
            addDemoData();
          }
        }
      );
    });
  }
</script>

<Modal title="Campaign results" id="campaign-statistics-modal" size="xl">
  <div class="container-fluid px-0">
    <div class="col-12 table-responsive">
      <table class="table card-table table-nowrap overflow-hidden">
        <thead>
          <tr>
            <th>Campaign</th>
            <th>Recipients</th>
            <th>Opens</th>
            <th>Clicks</th>
            <!-- <th>Replies</th> -->
            <th>Blocks</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody class="list">
          {#each campaignData as dataRow (dataRow.id)}
            <TableRowCampaign {...dataRow} />
          {/each}
        </tbody>
      </table>
    </div>
  </div>
</Modal>
