<script lang="ts">
  import { createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();

  export let value;
  export let items: { value: string; display: string }[] = [];
  export let greyOut = false;
</script>

<form autocomplete="off">
  <div class="autocomplete">
    <input
      type="text"
      bind:value
      on:input
      {...$$restProps}
      style={greyOut ? "background-color: #e6e6e6" : ""}
    />

    <!-- FILTERED LIST OF COUNTRIES -->
    {#if items.length > 0}
      <ul id="autocomplete-items-list">
        {#each items as item, i}
          <li
            class="autocomplete-items"
            on:click={() => dispatch("select", item.value)}
          >
            {item.display}
          </li>
        {/each}
      </ul>
    {/if}
  </div>
</form>

<style>
  * {
    box-sizing: border-box;
  }
  form {
    width: 100%;
  }
  div.autocomplete {
    /*the container must be positioned relative:*/
    /* position: relative; */
    width: 100%;
    display: inline-block;
  }
  input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin: 0;
    width: 100%;
  }

  #autocomplete-items-list {
    margin: 0;
    padding: 0;
    top: 0;
    /* border: 1px solid #ddd; */
    background-color: #ddd;
  }

  li.autocomplete-items {
    list-style: none;
    border-bottom: 1px solid #d4d4d4;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
  }

  li.autocomplete-items:hover {
    /*when hovering an item:*/
    background-color: dodgerblue;
    color: white;
  }

  li.autocomplete-items:active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
</style>
