<script>
</script>

<div
  style="height: 50px; z-index:48; width: 100%; justify-content: center; align-items: center; display:flex;"
  class="bottom-0 left-0 right-0 bg-gray-100 border-top"
>
  <p style=" font-size: 14px; margin-bottom:0px; ">© ABillionLeads LLC, USA. All rights reserved.</p>
</div>
