<script lang="ts">
  import { loggedIn, user } from "../../store/store";
  import { getAuth, signOut } from "firebase/auth";
  import { getStores } from "$app/stores";
  import { onMount } from "svelte";
  import { sidebarOpen } from "./store/app";
  import { get } from "svelte/store";
  import SimpleBarContent from "./filterComponents/SimpleBarContent.svelte";

  const { page } = getStores();

  async function logOut() {
    const auth = getAuth();
    await signOut(auth);
    window.location.reload();
  }

  let pathname = "untracked";

  function start_subscribing() {
    page.subscribe(($page) => {
      pathname = $page.url.pathname;
      console.log(pathname);
    });
  }

  onMount(() => {
    start_subscribing();
  });

  /**
   *
   */
  const getStripeSessionUrl = () => {
    // get user id to send to nodejs
    let userObj = get(user);

    let idTokenObj = "";
    if (userObj) {
      userObj
        .getIdToken()
        .then((idToken: any) => {
          idTokenObj = idToken;

          const options = {
            method: "POST",
            headers: {
              Authorization: "Bearer " + idTokenObj,
              "Content-Type": "application/json",
            },
          };

          fetch(
            import.meta.env.VITE_SERVER_URL + "/stripe/create-portal-session",
            options
          )
            .then(async (data) => {
              let response = await data.json();
              console.log({ response });
              if (data) {
                window.location.href = response.url;
              } else {
                window.location.href =
                  "https://billing.stripe.com/p/login/test_3cs3cfecu5hmdlC7ss";
              }
            })
            .catch((error) => {
              console.log(error);
              window.location.href =
                "https://billing.stripe.com/p/login/test_3cs3cfecu5hmdlC7ss";
            });
        })
        .catch((error: any) => {
          console.error("Failed to get user's ID token", error);
        });
    } else {
      console.log("No user is currently signed in");
    }
  };
</script>

<div
  class="container-fluid position-fixed top-0 custom-header bg-gray-100 px-0"
>
  <div class="row mx-0 border-bottom">
    <!-- desktop view -->
    <div class="col-lg-9 col-md-9 d-lg-block d-none">
      <ul
        class="nav nav-tabs nav-tabs-md nav-tabs-line position-relative zIndex-0 custom-nav-header"
        style="align-items: center"
      >
        <div
          on:keydown={() => {}}
          class=" p-3 hamburger d-lg-block d-none"
          style="cursor: pointer;"
          on:click={() => ($sidebarOpen = !$sidebarOpen)}
        >
          <img src="./assets/svg/icons/hamburger1.svg" alt="Hamburger" />
        </div>
        <li
          style="cursor: pointer; display: flex; align-items: center;"
          class="nav-item"
        >
          <a
            href="/"
            style="padding-left: 16px; margin-left: 32px;"
            class="nav-link"
          >
            <div style="height: 32px;">
              <img
                src="assets/img/logo/logo-1.png"
                alt="welcome"
                class="logo"
                style="height: 100%;"
              />
            </div></a
          >
        </li>
        <!--  MOVE THIS IN THE USER DROPDOWN
        <li style="cursor: pointer;" class="nav-item">
          <a
          href="javascript:void(0);"
          data-bs-toggle="modal"
          data-bs-target="#settingsModal"
           class="nav-link">Settings</a>
        </li>
        -->
      </ul>
    </div>

    <!-- mobile view -->
    <div class="col-5 col-sm-7 d-block d-lg-none" style="height:58px;">
      <div
        class="zIndex-0 custom-nav-header"
        style="align-items: center; display: flex; flex-direction: row;"
      >
        <div
          on:keydown={() => {}}
          data-bs-toggle="dropdown"
          aria-expanded="false"
          class="mobile-sidebar-group"
          on:click={() => ($sidebarOpen = !$sidebarOpen)}
        >
          <div class=" p-3 hamburger" style="cursor: pointer;">
            <img src="./assets/svg/icons/hamburger1.svg" alt="Hamburger" />
          </div>
        </div>

        <div class="d-sm-block d-none">
          <a style="color: black; font-weight:600;" class="nav-link">
            <div style="height: 32px;">
              <img
                src="assets/img/logo/logo-1.png"
                alt="welcome"
                class="logo"
                style="height: 100%;"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
    <div
      class="col-7 col-sm-5 col-lg-3 d-flex justify-content-end align-items-center"
    >
      <div
        class="col d-flex justify-content-end flex-wrap align-items-center icon-blue-hover ps-0"
      >
        <a
          href="javascript:void(0);"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal">Plans & Pricing</a
        >
        {#if $loggedIn}
          <div class="dropdown profile-dropdown">
            <a
              href="#"
              class="avatar avatar-sm avatar-circle ms-4 ms-xxl-5 overflow-hidden"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              id="dropdownMenuButton"
            >
              {#if $user.photoURL}
                <img src={$user.photoURL} alt="avatar" />
              {:else}
                <svg viewBox="0 0 256 256"
                  ><path
                    fill="currentColor"
                    d="M172 120a44 44 0 1 1-44-44a44 44 0 0 1 44 44Zm60 8A104 104 0 1 1 128 24a104.2 104.2 0 0 1 104 104Zm-16 0a88 88 0 1 0-153.8 58.4a81.3 81.3 0 0 1 24.5-23a59.7 59.7 0 0 0 82.6 0a81.3 81.3 0 0 1 24.5 23A87.6 87.6 0 0 0 216 128Z"
                  /></svg
                >
              {/if}
              <span class="avatar-status avatar-sm-status avatar-success"
                >&nbsp;</span
              >
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownMenuButton"
            >
              <li class="pt-2 px-4">
                <span
                  class="fs-16 font-weight-bold text-black-600 Montserrat-font me-2"
                  >{$user.displayName}</span
                >
                <img src="./assets/svg/icons/fill-check.svg" alt="icon" />
                <small class="text-gray-600 pb-3 d-block">{$user.email}</small>
              </li>
              <li>
                <!-- 
                                <form
                                    action="/create-portal-session"
                                    method="POST"
                                >
                                    <input
                                        type="hidden"
                                        name="customerId"
                                        value={$user.stripeId}
                                    />-->
                <button on:click={getStripeSessionUrl} class="dropdown-item"
                  ><span class="ms-2">Manage plan</span>
                </button>
              </li>
              <!-- 
                            <li>
                                <a
                                    class="dropdown-item"
                                    data-bs-toggle="modal"
                                    data-bs-target="#purchase-history-modal"
                                    ><span class="ms-2"
                                        >Purchase history</span
                                    ></a
                                >
                            </li>
-->
              <li>
                <span
                  style="cursor: pointer;"
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  data-bs-target="#campaign-statistics-modal"
                  ><span class="ms-2">Campaign results</span></span
                >
              </li>

              <li>
                <span
                  style="cursor: pointer;"
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  data-bs-target="#settingsModal"
                  ><span class="ms-2">Settings</span>
                </span>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a
                  style="cursor: pointer;"
                  class="dropdown-item"
                  on:click={logOut}
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                  >
                    <path
                      data-name="Combined Shape"
                      d="M6.027,14.449a.8.8,0,0,0-1.193-.494,2.025,2.025,0,0,1-1.063.31,2.086,2.086,0,0,1-1.779-1.069,1.961,1.961,0,0,1,.051-2.03.8.8,0,0,0-.493-1.193,2.03,2.03,0,0,1,0-3.945.8.8,0,0,0,.494-1.193,1.962,1.962,0,0,1-.052-2.03,2.086,2.086,0,0,1,1.78-1.071,2.022,2.022,0,0,1,1.062.31.8.8,0,0,0,1.193-.493,2.03,2.03,0,0,1,3.945,0,.808.808,0,0,0,.472.551.788.788,0,0,0,.305.06.8.8,0,0,0,.417-.117,2.024,2.024,0,0,1,1.062-.31,2.087,2.087,0,0,1,1.78,1.07,1.963,1.963,0,0,1-.052,2.03.8.8,0,0,0,.494,1.192,2.03,2.03,0,0,1,0,3.946.8.8,0,0,0-.494,1.193,1.962,1.962,0,0,1,.052,2.03,2.086,2.086,0,0,1-1.779,1.07,2.025,2.025,0,0,1-1.063-.31.8.8,0,0,0-.722-.056.8.8,0,0,0-.471.55,2.03,2.03,0,0,1-3.945,0Zm0-1.687a2.03,2.03,0,0,1,1.2,1.4.8.8,0,0,0,1.553,0A2.029,2.029,0,0,1,11.8,12.9l.077.042a.78.78,0,0,0,.341.08.822.822,0,0,0,.7-.421.773.773,0,0,0-.02-.8l-.078-.141a2.03,2.03,0,0,1,1.333-2.889.8.8,0,0,0,0-1.552A2.031,2.031,0,0,1,12.9,4.195l.042-.076a.768.768,0,0,0-.042-.757.813.813,0,0,0-.68-.387.793.793,0,0,0-.418.122l-.141.078a2.038,2.038,0,0,1-.916.219,2.02,2.02,0,0,1-.777-.155,2.039,2.039,0,0,1-1.2-1.4l-.029-.1a.8.8,0,0,0-1.524.1A2.027,2.027,0,0,1,4.195,3.1l-.076-.041a.78.78,0,0,0-.341-.08.822.822,0,0,0-.7.422.772.772,0,0,0,.021.8l.078.141A2.029,2.029,0,0,1,1.841,7.223a.8.8,0,0,0,0,1.553A2.029,2.029,0,0,1,3.1,11.8l-.041.077a.768.768,0,0,0,.042.757.815.815,0,0,0,.68.387.791.791,0,0,0,.418-.122l.141-.078a2.027,2.027,0,0,1,1.693-.064ZM4.923,8A3.077,3.077,0,1,1,8,11.077,3.081,3.081,0,0,1,4.923,8ZM6.154,8A1.846,1.846,0,1,0,8,6.154,1.848,1.848,0,0,0,6.154,8Z"
                      fill="#495057"
                    />
                  </svg><span class="ms-2">Log out</span></a
                >
              </li>
            </ul>
          </div>
        {:else}
          <a
            class="btn btn-primary mx-2"
            data-bs-toggle="modal"
            data-bs-target="#loginModal">Log In</a
          >
        {/if}
      </div>
    </div>
  </div>
</div>

<style>
  .hamburger:hover {
    background-color: rgb(229 231 235);
  }
</style>
