<script>
  import { page } from "$app/stores";
  import { doc, getDoc, getFirestore } from "firebase/firestore";

  import { firebaseConfig, user } from "../../store/store";

  import { onMount } from "svelte";
  import { initializeApp } from "firebase/app";
  import { getAuth, onAuthStateChanged } from "firebase/auth";
  import { sidebarOpen } from "./store/app";
  import Modal from "./base/Modal.svelte";

  let items = [];
  let loading = true;

  onMount(async () => {
    // Initialize Firebase
    initializeApp(firebaseConfig);
    const db = getFirestore();
    onAuthStateChanged(getAuth(), async (state) => {
      loading = true;
      if (state) {
        const docRef = await getDoc(doc(db, "purchases", state.uid));
        const data = docRef.data();
        if (!data) {
          loading = false;
          return;
        }
        items = Array.from(
          data.purchaseHistory.map((item) => ({
            purchaseAmount: item.purchaseAmount,
            purchasePrice:
              item.purchaseAmount.email * 0.005 +
              item.purchaseAmount.phone * 0.2,
            purchaseDate: new Date(item.purchaseDate.seconds * 1000),
          }))
        );
      }
      loading = false;
    });
  });
</script>

<Modal title="Purchase History" id="purchase-history-modal" size="xl">
  <div class="container-fluid px-0">
    <div class="px-3">
      {#if loading}
        <span class="py-3 d-grid" style="place-items: center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </span>
      {:else if items.length > 0}
        <div class="table-responsive invoice-table">
          <table class="table">
            <tbody>
              {#each items as item}
                <tr>
                  <td>
                    <span
                      class="avatar avatar-sm-status bottom-0 end-0 avatar-danger avatar-border me-2"
                      >&nbsp;</span
                    ><span class="fs-16"
                      >{item.purchaseAmount.email} Email(s) | {item
                        .purchaseAmount.phone} Phone(s)</span
                    >
                  </td>
                  <td>
                    <span class="fs-16 text-primary font-weight-semibold"
                      >{item.purchaseDate.toDateString()}</span
                    >
                  </td>
                  <td>
                    <div class="text-end">
                      <span class="fs-16"
                        >${item.purchasePrice.toLocaleString("en-US", {
                          useGrouping: true,
                          minimumFractionDigits: 2,
                          maximumFractionDigits: 2,
                        })}</span
                      >
                    </div>
                  </td>
                </tr>
              {/each}
            </tbody>
          </table>
        </div>
      {:else}
        <p>No Purchases Made</p>
      {/if}
    </div>
  </div>
</Modal>
