<script lang="ts">
  import {
    createUserWithEmailAndPassword,
    GoogleAuthProvider,
    sendPasswordResetEmail,
    signInWithPopup,
    updateProfile,
  } from "firebase/auth";

  import {
    getAuth,
    signInWithEmailAndPassword,
    browserSessionPersistence,
    browserLocalPersistence,
    setPersistence,
  } from "firebase/auth";
  import {
    collection,
    doc,
    getDoc,
    getFirestore,
    setDoc,
    updateDoc,
  } from "firebase/firestore";
  import { loggedIn, results, user } from "../../store/store";

  let username = "";
  let email = "";
  let password = "";
  let remember = false;
  let errorMessage = "";
  let infoMessage = "";
  let isSignUp = false;

  async function signInWithGoogle() {
    try {
      const provider = new GoogleAuthProvider();
      const auth = getAuth();
      const res = await signInWithPopup(auth, provider);
      await updateCustomerData(res.user);
      errorMessage = "";
      closeModal();
    } catch (error) {
      errorMessage = error.message;
      console.dir(error);
    }
  }

  async function signUp() {
    const auth = getAuth();
    if (remember) {
      await setPersistence(auth, browserLocalPersistence);
    } else {
      await setPersistence(auth, browserSessionPersistence);
    }
    try {
      const res = await createUserWithEmailAndPassword(auth, email, password);
      updateProfile(res.user, {
        displayName: username,
      });
      $user = res.user;
      $loggedIn = true;
      await updateCustomerData(res.user);
      closeModal();
    } finally {
    }
  }

  async function updateCustomerData(user: any) {
    const db = getFirestore();
    const docRef = doc(db, "customers", user.uid);
    const exists = (await getDoc(docRef)).exists();
    if (exists) return;

    const body: any = {
      email: user.email,
    };

    const res = await fetch("/create-customer", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(body),
    });
    if (res.ok) {
      const { stripeId } = await res.json();
      await setDoc(docRef, {
        stripeId,
      });
    }
  }

  async function signInWithEmail() {
    const auth = getAuth();
    if (remember) {
      await setPersistence(auth, browserLocalPersistence);
    } else {
      await setPersistence(auth, browserSessionPersistence);
    }
    try {
      $user = (await signInWithEmailAndPassword(auth, email, password)).user;
      $loggedIn = true;
      errorMessage = "";
      closeModal();
    } catch (error) {
      errorMessage = error.message;
    }
  }

  function closeModal() {
    const modal = bootstrap.Modal.getInstance(
      document.getElementById("loginModal")
    );
    modal.hide();
  }

  async function forgotPassword() {
    const auth = getAuth();
    try {
      await sendPasswordResetEmail(auth, email);
      infoMessage = "Password Reset Link sent to your email";
      errorMessage = "";
    } catch (error) {
      errorMessage = error.message;
    }
  }
</script>

<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {isSignUp ? "Sign Up" : "Sign In"}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        {#if errorMessage}
          <div class="alert alert-danger" role="alert">
            {errorMessage}
          </div>
        {/if}
        {#if infoMessage}
          <div class="alert alert-info" role="alert">
            {infoMessage}
          </div>
        {/if}
        {#if isSignUp}
          <form class="pt-3" on:submit|preventDefault={signUp}>
            <div class="mb-4 pb-md-2">
              <label class="form-label form-label-lg" for="username"
                >Username</label
              >
              <input
                bind:value={username}
                type="text"
                class="form-control form-control-xl"
                id="username"
                placeholder="John Doe"
                required
              />
            </div>
            <div class="mb-4 pb-md-2">
              <label class="form-label form-label-lg" for="email">Email</label>
              <input
                bind:value={email}
                type="email"
                class="form-control form-control-xl"
                id="email"
                placeholder="Email"
                required
              />
            </div>
            <div class="mb-4 pb-md-2">
              <label class="form-label form-label-lg" for="password"
                >Password</label
              >
              <input
                bind:value={password}
                type="password"
                class="form-control form-control-xl"
                id="password"
                placeholder="••••••••••••••••"
                required
              />
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-xl btn-primary"
                >Sign Up</button
              >
            </div>
            <div class="my-3 my-sm-4 d-flex">
              <div class="form-check form-check-sm mb-0">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="gridCheck"
                  bind:checked={remember}
                />
                <label
                  class="form-check-label small text-gray-600"
                  for="gridCheck"
                >
                  Remember me
                </label>
              </div>
              <a
                on:click={forgotPassword}
                class="small text-gray-600 ms-auto mt-1">Forgot password?</a
              >
            </div>
            <div class="border-top border-gray-200 pt-3 pt-sm-4 text-center">
              <span class="text-gray-700"
                >Already have an account? <a
                  on:click={() => (isSignUp = false)}
                  class="link-primary">Sign in</a
                ></span
              >
            </div>
          </form>
        {:else}
          <div class="pt-sm-1 pt-md-2 pb-2">
            <button
              on:click={signInWithGoogle}
              class="text-gray-700 font-weight-semibold border rounded px-sm-4 py-2 d-flex align-items-center justify-content-center bg-white btn btn-lg w-100"
            >
              <img src="../assets/svg/icons/google-icon.svg" alt="Google" />
              <span class="ps-2 py-1 my-1 lh-sm">Sign in with Google</span>
            </button>
          </div>
          <div class="position-relative">
            <hr class="bg-gray-200 border-gray-200 opacity-100" />
            <span
              class="position-absolute top-0 start-50 translate-middle text-gray-600 small bg-white px-2 px-xxl-4 text-nowrap"
              >Or sign in with email</span
            >
          </div>
          <form class="pt-3" on:submit|preventDefault={signInWithEmail}>
            <div class="mb-4 pb-md-2">
              <label class="form-label form-label-lg" for="email">Email</label>
              <input
                bind:value={email}
                type="email"
                class="form-control form-control-xl"
                id="email"
                placeholder="Email"
                required
              />
            </div>
            <div class="mb-4 pb-md-2">
              <label class="form-label form-label-lg" for="password"
                >Password</label
              >
              <input
                bind:value={password}
                type="password"
                class="form-control form-control-xl"
                id="password"
                placeholder="••••••••••••••••"
                required
              />
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-xl btn-primary"
                >Sign In</button
              >
            </div>
            <div class="my-3 my-sm-4 d-flex">
              <div class="form-check form-check-sm mb-0">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="gridCheck"
                  bind:checked={remember}
                />
                <label
                  class="form-check-label small text-gray-600"
                  for="gridCheck"
                >
                  Remember me
                </label>
              </div>
              <a
                on:click={forgotPassword}
                class="small text-gray-600 ms-auto mt-1">Forgot password?</a
              >
            </div>
            <div class="border-top border-gray-200 pt-3 pt-sm-4 text-center">
              <span class="text-gray-700"
                >Don't have an account? <a
                  on:click={() => (isSignUp = true)}
                  class="link-primary">Sign Up</a
                ></span
              >
            </div>
          </form>
        {/if}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
          >Close</button
        >
      </div>
    </div>
  </div>
</div>
