<script>
  import { user } from "../../store/store";
  let userEmail = "";

  user.subscribe((val) => {
    console.log("TRIGGERED userEmail UPDATE");
    if (val != undefined) userEmail = val.email;
    ////userEmail = val.getEmail();
  });
</script>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg modal-dialog-centered max-w-500"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pricing</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        <stripe-pricing-table
          pricing-table-id={import.meta.env.VITE_STRIPE_PRICING_TABLE_ID}
          publishable-key={import.meta.env.VITE_STRIPE_PUBLISHABLE_KEY}
          customer-email={userEmail}
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
          >Close</button
        >
      </div>
    </div>
  </div>
</div>
