<script lang="ts">
  import { get } from "svelte/store";
  import { user } from "../../store/store";
  import LoaderComponent from "./LoaderComponent.svelte";
  import { GoogleAuthProvider, getAuth, signInWithPopup } from "firebase/auth";

  const gmailTab = "Gmail";
  const smtpTab = "SMTP Server";
  const tabs = [gmailTab, smtpTab];
  let activeTab = tabs[0];

  let loading = false;
  let error = false;

  let idTokenObj: string | null = null;
  let queried = false;

  let gmailSettings: { email?: string | null; password?: string | null } = {};

  let smtpSettings = {
    url: "",
    email: "",
    password: "",
    port: "",
  };

  $: if ($user) {
    if (!queried) {
      queried = true;
      $user
        .getIdToken()
        .then((idToken: any) => {
          idTokenObj = idToken;
          const options = {
            method: "GET",
            headers: {
              Authorization: "Bearer " + idTokenObj,
              "Content-Type": "application/json",
            },
          };

          fetch(
            import.meta.env.VITE_SERVER_URL + "/settings/gmail",
            options
          ).then(async (data) => {
            gmailSettings = await data.json();
          });

          fetch(
            import.meta.env.VITE_SERVER_URL + "/settings/smtp",
            options
          ).then(async (data) => {
            smtpSettings = await data.json();
          });
        })
        .catch((error: any) => {
          console.error("Failed to get resend API KEY", error);
        });
    }
  }

  // const connectGmailAccount = async () => {
  //   try {
  //     const provider = new GoogleAuthProvider();
  //     provider.addScope("https://www.googleapis.com/auth/gmail.send");
  //     const auth = getAuth();
  //     const res = await signInWithPopup(auth, provider);
  //     const credential = GoogleAuthProvider.credentialFromResult(res);
  //     const token = credential?.accessToken;
  //     const email = res.user.email;

  //     // send the token to the server
  //     await setGmailToken(token, email);
  //   } catch (error) {
  //     console.dir(error);
  //   }
  // };

  /**
   *
   * @param token
   * @param email
   */
  const updateSettings = async () => {
    loading = true;
    error = false;
    $user
      .getIdToken()
      .then((idToken: any) => {
        idTokenObj = idToken;
        const options = {
          method: "POST",
          headers: {
            Authorization: "Bearer " + idTokenObj,
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ ...smtpSettings }),
        };
        // update smtp settings
        fetch(import.meta.env.VITE_SERVER_URL + "/settings/smtp", options)
          .then(async (data) => {
            loading = false;
          })
          .catch((error: any) => {
            loading = false;
            error = true;
          });

        // update gmail settings
        const gmailOptions = {
          method: "POST",
          headers: {
            Authorization: "Bearer " + idTokenObj,
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ ...gmailSettings }),
        };
        fetch(import.meta.env.VITE_SERVER_URL + "/settings/gmail", gmailOptions)
          .then(async (data) => {
            loading = false;
          })
          .catch((error: any) => {
            loading = false;
            error = true;
          });
      })
      .catch((error: any) => {
        loading = false;
        error = true;
      });
  };

  // /**
  //  *
  //  * @param token
  //  * @param email
  //  */
  // const setGmailToken = async (
  //   token?: string | null,
  //   email?: string | null
  // ) => {
  //   $user
  //     .getIdToken()
  //     .then((idToken: any) => {
  //       idTokenObj = idToken;
  //       const options = {
  //         method: "POST",
  //         headers: {
  //           Authorization: "Bearer " + idTokenObj,
  //           "Content-Type": "application/json",
  //         },
  //         body: JSON.stringify({
  //           accessToken: token,
  //           email,
  //         }),
  //       };
  //       fetch(
  //         import.meta.env.VITE_SERVER_URL + "/settings/gmail-access-token",
  //         options
  //       ).then(async (data) => {
  //         gmailSettings = { accessToken: token, email };
  //       });
  //     })
  //     .catch((error: any) => {
  //       console.error("Failed to get resend API KEY", error);
  //     });
  // };
</script>

<div
  class="modal fade"
  id="settingsModal"
  tabindex="-1"
  aria-labelledby="settingsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered max-w-500">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        <div class="tabs">
          <ul class="nav nav-tabs nav-fill">
            {#each tabs as tab (tab)}
              <li style="cursor: pointer;" class="nav-item">
                <a
                  on:click={() => (activeTab = tab)}
                  class={`nav-link ${tab === activeTab ? "active" : ""}`}
                  aria-current="page">{tab}</a
                >
              </li>
            {/each}
          </ul>
        </div>

        <div style="padding: 24px;" class="tab-content">
          <!-- Gmail Tab -->
          {#if activeTab === gmailTab}
            <!-- <div>
              <div>
                <p>Send up to 500 emails per day using your Gmail account.</p>
                {#if !gmailSettings?.email}
                  <p>Connect your Gmail account to start sending emails.</p>
                  <button
                    type="button"
                    class="btn btn-warning"
                    on:click={connectGmailAccount}>Connect</button
                  >
                {:else}
                  <div>
                    <p>Connected to {gmailSettings?.email}</p>
                    <button
                      type="button"
                      class="btn btn-danger"
                      on:click={() => setGmailToken(null, null)}>Remove</button
                    >
                  </div>
                {/if}
              </div>
            </div> -->

            <div style="display:flex; flex-direction: column;">
              <p>Send up to 500 emails per day using your Gmail account. Connect your Gmail account to start sending emails.</p>
              <p>Enable <a target="_blank" href="https://www.google.com/settings/security/lesssecureapps">"Less secure apps"</a> on your Gmail account.</p>
              <input
                placeholder="Email Address"
                class="compose-input"
                name="smtpUrl"
                type="email"
                bind:value={gmailSettings.email}
              />
              <input
                placeholder="Password"
                class="compose-input"
                name="replyToEmail"
                type="password"
                bind:value={gmailSettings.password}
              />
            </div>
          {/if}

          <!-- SMTP TAB -->
          {#if activeTab === smtpTab}
            <div style="display:flex; flex-direction: column;">
              <p>Use your own SMTP server to send emails</p>
              <input
                placeholder="SMTP Server Url"
                class="compose-input"
                name="smtpUrl"
                type="url"
                bind:value={smtpSettings.url}
              />
              <input
                placeholder="Port"
                class="compose-input"
                name="replyToEmail"
                type="number"
                bind:value={smtpSettings.port}
              />
              <input
                placeholder="Email Address"
                class="compose-input"
                name="replyToEmail"
                type="email"
                bind:value={smtpSettings.email}
              />
              <input
                placeholder="Password"
                class="compose-input"
                name="replyToEmail"
                type="password"
                bind:value={smtpSettings.password}
              />
            </div>
          {/if}
        </div>
      </div>
      <div class="modal-footer">
        {#if error}
          <p>Oops! Something seems to have gone wrong, please try again.</p>
        {/if}

        {#if loading}
          <div>
            <LoaderComponent />
          </div>
        {:else}
          <button
            on:click={updateSettings}
            type="button"
            class="btn btn-primary">Save</button
          >
        {/if}
      </div>
    </div>
  </div>
</div>

<style>
  .hook-container {
    border-color: rgb(203 213 225);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding: 4px;
    margin: 2px;
    font-size: 12px;
  }

  .active {
    background-color: #ddd;
  }

  .compose-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    margin-top: 16px;
  }
</style>
