<script>
  import { fly } from "svelte/transition";

  import ButtonControl from "./filterComponents/ButtonControl.svelte";

  import SimpleBarContent from "./filterComponents/SimpleBarContent.svelte";
  import { sidebarOpen } from "./store/app";
  import { onMount } from "svelte";

  const close = () => {
    $sidebarOpen = !$sidebarOpen;
  };

  // onMount(() => {
  //   // close on outside click
  //   document.body.addEventListener("click", (e) => {
  //     if (sidebarOpen) {
  //       // @ts-ignore
  //       if (e?.target?.closest(`.mobile-sidebar-group`)) return;
  //       close();
  //     }
  //   });
  // });
</script>

<!-- desktop view -->
{#if $sidebarOpen}
  <nav
    class="navbar navbar-vertical navbar-expand-lg navbar-light pt-5 mt-4 navbar-custom-width d-none d-lg-block"
    in:fly={{ x: -400, opacity: 1, duration: 600 }}
    out:fly={{ x: -400, opacity: 0, duration: 3200 }}
  >
    <ButtonControl on:actionButtonClicked={() => close()} />
    <SimpleBarContent />
  </nav>
{/if}

<!-- mobile view -->
{#if $sidebarOpen}
  <nav
    class="d-lg-none d-block navbar-mobile"
    in:fly={{ y: -400, opacity: 1, duration: 300 }}
    out:fly={{ y: -400, opacity: 0, duration: 300 }}
  >
    <div
      style="display: flex; justify-content: between;"
      class="navbar-mobile-content mobile-sidebar-group navbar navbar-light mt-4"
    >
    <div style="height: 32px;">
      <img
        src="assets/img/logo/logo-2.png"
        alt="welcome"
        class="logo"
        style="height: 100%;"
      />
    </div>
    
      <div class="cancel-container">
        <span on:click={close} class="close-btn-info ms-3"
          ><i class="fa fa-close" /></span
        >
      </div>
      <!-- <a
        href="javascript:void(0);"
        class=""
        style="color: #6C757D; margin-bottom: 8px;"
        data-bs-toggle="modal"
        data-bs-target="#settingsModal"
      >
        <span class="ms-2">Settings</span>
      </a> -->

      <ButtonControl on:actionButtonClicked={() => close()} />
      <SimpleBarContent />

      <div>
        <p style="font-size: 11px; margin-top: 0px;">
          © ABillionLeads LLC, USA. All rights reserved.
        </p>
      </div>
    </div>
  </nav>
{/if}

<style>
  .cancel-container {
    display: flex;
    justify-content: end;
  }
  .navbar-custom-width {
    max-width: 19rem !important;
  }

  .navbar-mobile-content {
    border-radius: 8px;
  }

  .navbar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 0; */
    max-height: 90vh;
    z-index: 1000;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 50px;
  }
</style>
