<script lang="ts">
  //let subject = 'This is my subject';
  export let subject: string;
  export let id: string;
  export let recipient_count: string;
  export let open_count: string;
  export let open_rate: string;
  export let click_count: string;
  export let click_rate: string;

  export let date: string;
  export let bounce_count: string;
</script>

<tr>
  <td>
    <div class="d-flex align-items-center">
      <span class="ps-2 font-weight-semibold text-gray-700 name--field">
        {subject}
      </span>
    </div>
  </td>
  <td>
    <div class="d-flex align-items-center">
      <span class="ps-2 font-weight-semibold text-gray-700 name--field">
        {recipient_count}
      </span>
    </div>
  </td>
  <td>
    <div class="d-flex align-items-center">
      <span class="ps-2 font-weight-semibold text-gray-700 name--field">
        {open_count} <br />
        {open_rate}%
      </span>
    </div>
  </td>
  <td>
    <div class="d-flex align-items-center">
      <span class="ps-2 font-weight-semibold text-gray-700 name--field">
        {click_count} <br />
        {click_rate}%
      </span>
    </div>
  </td>
  <!-- <td>
    <div class="d-flex align-items-center">
      <span class="ps-2 font-weight-semibold text-gray-700 name--field">
        125 <br/>
        0.5%
      </span>
    </div>
  </td> -->
  <td>
    <div class="d-flex align-items-center">
      <span class="ps-2 font-weight-semibold text-gray-700 name--field">
        {bounce_count}
      </span>
    </div>
  </td>
  <td>
    <div class="d-flex align-items-center">
      <span class="ps-2 font-weight-semibold text-gray-700 name--field">
        {date}
        <!-- 28th March, 2023 -->
      </span>
    </div>
  </td>
</tr>

<style>
  .name--field {
    display: inline-block;
    white-space: normal;
    max-inline-size: 30ch;
    overflow-wrap: break-word;
    word-break: keep-all;
  }
</style>
