<script>
  import { pricingDifference, user } from "../../store/store";
  import { handleBuyCredits } from "./utils/payment-utils";
  let userEmail = "";

  user.subscribe((val) => {
    console.log("TRIGGERED userEmail UPDATE");
    if (val != undefined) userEmail = val.email;
    //userEmail = val.getEmail();
  });

 
  const handlePurchase = () =>{
    handleBuyCredits({email: userEmail, credits: $pricingDifference})
  }

</script>

<div
  class="modal fade"
  id="usagePricingModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg modal-dialog-centered max-w-500"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pricing</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        <p> You need to purchase {$pricingDifference} additional credits to complete the request</p>
      </div>
      <div class="modal-footer">
        <button
        on:click={handlePurchase}
         type="button" class="btn btn-primary" data-bs-dismiss="modal"
          >Purchase</button
        >

        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
          >Close</button
        >
      </div>
    </div>
  </div>
</div>
